@charset "UTF-8";

html, body {
	margin: 0;
}

footer {
	height: 100px;
}

/****** 반응형 ******/
@media (max-width:869px) {
	section {
		width: 95%;
	}
	.inputWrap > select {
		width: 110px;
	}
	.inputWrap > input {
		width: 300px;
	}
}
@media (min-width:870px) and (max-width:899px) {
	section {
		width: 95%;
	}
	.inputWrap > select {
		width: 150px;
	}
	.inputWrap > input {
		width: 500px;
	}
}

@media (min-width:900px) and (max-width:1199px) {
	section {
		width: 90%;
	}
	.inputWrap > select {
		width: 150px;
	}
	.inputWrap > input {
		width: 500px;
	}
}

@media (min-width:1200px) and (max-width:1599px) {
	section {
		width: 80%;
	}
	.inputWrap > select {
		width: 150px;
	}
	.inputWrap > input {
		width: 500px;
	}
}

@media (min-width:1600px) {
	section {
		width: 70%;
	}
	.inputWrap > select {
		width: 150px;
	}
	.inputWrap > input {
		width: 500px;
	}
}

/****** 메인 ******/
section {
	margin: auto;
	margin-top: 70px;
}

.userTable {
	text-align: center;
	font-size: 15px;
}

/****** 검색 ******/
.searchWrap {
	display: flex;
    align-items: center;
    justify-content: center;
}

.inputWrap {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.inputWrap > select {
	height: 30px;
	padding: 5px 10px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.inputWrap > input {
	height: 31px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#searchBtn {
	background: none;
	background-color: #4d6082;
	border: none;
	cursor: pointer;
	padding: 8px;
	border-radius: 3px;
}

#searchBtn > img {
	width: 20px;
}