@charset "UTF-8";

html, body {
	margin: 0;
	background-color: #202020;
}

section {
	width: 100%;
	height: auto;
}

header {
	position: relative;
	height: 140px;
}

footer {
	height: 140px;
}

/********* 반응형 *********/
@media (max-width: 500px) {
	header, footer {
		height: 110px;
	}
}


.close {
	display: inline-block;
	position: absolute;
	top: 40px;
    right: 45px;
	width: 20px;
	cursor: pointer;
}

.close > img {
	width: 100%;
}

#loginBox {
	width: 366px;
	margin: 0 auto;
	text-align: center;
}

#loginBox > h1 {
	color: white;
}

.joinForm {
	margin-top: 20px;
}

.wrapper {
	width: auto;
	padding: 10px;
}

.wrapper > span:not(.warn) {
	display: inherit;
	color: white;
	text-align: left;
	font-size: 16px;
	padding-left: 5px;
}

.wrapper > input {
	background-color: hsla(0,0%,100%,.05);
	font-size: 14px;
    color: white;
    margin: 8px 0;
    padding: 16px 20px;
    border: 1px solid hsla(0,0%,59.2%,.2);
    border-radius: 3px;
    width: 100%;
}

.warn {
	display: none;
	color: #ff6e6e;
	font-size: 13px;
	text-align: left;
	font-weight: 400;
}

.pwChk {
	padding-left: 70px;
	position: relative;
}

.pwChk img {
	display: none;
	position: absolute;
    left: 30px;
}

.overChk {
    top: 5px;
}

.mixChk {
    top: 35px;
}

.must {
	display: inherit;
	color: #8c8c8c;
	font-size: 15px;
	padding: 5px 0;
	text-align: left;
	font-weight: 500;
}

.btns {
	background: none;
	border: none;
	cursor: pointer;
}

.submitWrap {
	padding: 10px;
	margin-top: 20px;
}

.join {
	width: 100%;
	background-color: #f3e1a8;
	padding: 14px 31px;
	border-radius: 30px;
	font-weight: bold;
	display: inline-block;
    position: relative;
}

.join:focus, .circle:focus {
	outline: none;
}

.color-change {
	color: #f3e1a8;
}

.display-none {
	display: none;
}

.circle {
	width: 23px;
	height: 23px;
	border: 5px solid rgba(255,255,255,.3);
	border-radius: 50%;
	border-top-color: #43435d;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	animation: spin 1s infinite;
}
@keyframes spin {
	100% { 
		transform: translate(-50%, -50%) rotate(360deg); 
	}
}