@charset "UTF-8";

html, body {
	margin: 0;
	background-color: #202020;
}

section {
	width: 100%;
	height: auto;
}

header {
	position: relative;
	height: 140px;
}

footer {
	height: 140px;
}

/********* 반응형 *********/
@media (max-width: 500px) {
	header, footer {
		height: 100px;
	}
}

.close {
	display: inline-block;
	position: absolute;
	top: 40px;
    right: 45px;
	width: 20px;
	cursor: pointer;
}

.close > img {
	width: 100%;
}

#loginBox {
	width: 366px;
	margin: 0 auto;
	text-align: center;
}

#loginBox > h1 {
	color: white;
}

.banner {
	width: 100%;
}

.banner > a {
	display: inline-block;
	width: 228px;
	height: auto;
}

.banner img {
	width: 100%;
}

.loginForm {
	margin-top: 20px;
}

.wrapper {
	width: auto;
	padding: 10px;
	padding-bottom: 5px;
}

.wrapper > span {
	display: inherit;
	color: white;
	text-align: left;
	font-size: 16px;
	padding-left: 5px;
}

.wrapper > input {
	background-color: hsla(0,0%,100%,.05);
	font-size: 14px;
    color: white;
    margin: 8px 0;
    padding: 16px 20px;
    border: 1px solid hsla(0,0%,59.2%,.2);
    border-radius: 3px;
    width: 100%;
}

.error {
	display: none;
	color : #ff6e6e !important;
	font-size : 13.2px !important;
	text-align: left;
	padding: 5px 10px;
	line-height: 1.4;
}

.optionBox {
	color: white;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
	margin: 8px;
	padding-bottom: 5px;
}

.optionBox > label {
	margin-right: 8px;
}

.optionBox input {
	vertical-align: -2px;
	-ms-transform: scale(1.2); /* IE */
	-moz-transform: scale(1.2); /* FF */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
	margin-right: 7px;
}

.findBtnWrap {
    padding: 15px 0 10px;
}

.btns {
	background: none;
	border: none;
	cursor: pointer;
}

.findPwd {
    text-decoration: underline;
    color: white;
    font-size: 14.5px;
}

.submitWrap {
	padding: 10px;
}

.continue {
	width: 98%;
	background-color: #f3e1a8;
	padding: 16px 31px;
	border-radius: 30px;
	font-weight: bold;
}
.continue:focus {
	outline: none;
}

#loginBox > span {
	display: inline-block;
	margin-top: 5px;
	color: white;
	font-size: 14.5px;
}

#loginBox > span > a:visited {
	color: white;
}